.header {
    background-color: #343a40;
    color: white;
    display: flex;
    font-size: 25px;
    padding: 10px;
    justify-content: center;
}

.city-search {
    background-color: rgba(128, 128, 128, .1);
}

.day {
    padding: 10px;
    color: white;
    line-height: 15px;
    font-size: 13px;
}

#jumbo {
    margin-top: 10px;
}

.mild {
    background-color: rgb(2, 177, 2);
    display: inline-block;
    max-width: auto;
    border-radius: 5px;
}

.moderate {
    background-color: yellow;
    display: inline-block;
    max-width: auto;
    border-radius: 5px;
}

.high {
    background-color: orange;
    display: inline-block;
    max-width: auto;
    border-radius: 5px;
}

.severe {
    background-color: red;
    display: inline-block;
    max-width: auto;
    border-radius: 5px;
}